<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


            <bean id="humanBean" class="io.turntabl.springgettingstarted.HumanBean">
                <property name="FName" value="Dennis" />
                <property name="LName" value="Effa" />
                <property name="FriendBean" ref="bestFriend

" />
            </bean>
             <bean id="bestFriend" class="io.turntabl.springgettingstarted.FriendBean">
             <property name="Name" value="Bontooo" />
                 <property name="Age" value="2000" />
             </bean>
</beans>